<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DETAIL</title>
    <style>
        body{text-align: center;}
    </style>
</head>
<body>
    <h1>{{ blog.location }}</h1>
    <br>
    작성자: {{ blog.writer }} /
    작성날짜: {{ blog.pub_date }}
    <hr>
    <img src="{{ blog.image.url }}" alt="사진"><br>
    <h3>숙소 유형: {{ blog.room_type }}</h3>
    <h3>기간: {{ blog.duration }}</h3>
    <h3>요금: {{blog.price}} / 월</h3>
    <h3>방 설명: {{ blog.body }}</h3>
    <br>
    <br>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'edit' blog.id %}">Edit</a>
    <a href="{% url 'delete' blog.id %}">Delete</a>
</body>
</html>